<md-content class="md-padding" ng-cloak>

	<md-button class="md-fab md-primary" aria-label="Voltar" ng-href="#/conceito">
        <md-icon md-svg-src="images/ic_arrow_back_white_48px.svg"></md-icon>
    </md-button>

	<div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
		<md-whiteframe class="img-responsive md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
	    	<img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CENA_01_por_Cfbdias.png" class="md-card-image" alt="Washed Out">
	  	</md-whiteframe>
	  	<md-whiteframe class="img-responsive md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
	    	<img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CENA_02_por_Cfbdias.png" class="md-card-image" alt="Washed Out">
	  	</md-whiteframe>
	  	<md-whiteframe class="img-responsive md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
	    	<img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CENA_03_por_Cfbdias.png" class="md-card-image" alt="Washed Out">
	  	</md-whiteframe>
	  	<md-whiteframe class="img-responsive md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
	    	<img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CENA_04_por_Cfbdias.png" class="md-card-image" alt="Washed Out">
	  	</md-whiteframe>
	  	<md-whiteframe class="img-responsive md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
	    	<img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CENA_05_por_Cfbdias.png" class="md-card-image" alt="Washed Out">
	  	</md-whiteframe>
	  	<md-whiteframe class="img-responsive md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
	    	<img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CENA_06_por_Cfbdias.png" class="md-card-image" alt="Washed Out">
	  	</md-whiteframe>
	  	<md-whiteframe class="img-responsive md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
	    	<img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CENA_07_por_Cfbdias.png" class="md-card-image" alt="Washed Out">
	  	</md-whiteframe>
	  	<md-whiteframe class="img-responsive md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
	    	<img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CENA_08_por_Cfbdias.png" class="md-card-image" alt="Washed Out">
	  	</md-whiteframe>
	  	<md-whiteframe class="img-responsive md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
	    	<img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CENA_09_por_Cfbdias.png" class="md-card-image" alt="Washed Out">
	  	</md-whiteframe>
	  	<md-whiteframe class="img-responsive md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
	    	<img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CENA_10_por_Cfbdias.png" class="md-card-image" alt="Washed Out">
	  	</md-whiteframe>
	  	<md-whiteframe class="img-responsive md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
	    	<img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CENA_11_por_Cfbdias.png" class="md-card-image" alt="Washed Out">
	  	</md-whiteframe>
	  	<md-whiteframe class="img-responsive md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
	    	<img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CENA_12_por_Cfbdias.png" class="md-card-image" alt="Washed Out">
	  	</md-whiteframe>
	  	<md-whiteframe class="img-responsive md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
	    	<img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CENA_13_por_Cfbdias.png" class="md-card-image" alt="Washed Out">
	  	</md-whiteframe>
	  	<md-whiteframe class="img-responsive md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
	    	<img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CENA_14_por_Cfbdias.png" class="md-card-image" alt="Washed Out">
	  	</md-whiteframe>
	  	<md-whiteframe class="img-responsive md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
	    	<img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CENA_15_por_Cfbdias.png" class="md-card-image" alt="Washed Out">
	  	</md-whiteframe>
	  	<md-whiteframe class="img-responsive md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
	    	<img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CENA_16_por_Cfbdias.png" class="md-card-image" alt="Washed Out">
	  	</md-whiteframe>
	  	<md-whiteframe class="img-responsive md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
	    	<img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CENA_17_por_Cfbdias.png" class="md-card-image" alt="Washed Out">
	  	</md-whiteframe>
	  	<md-whiteframe class="img-responsive md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
	    	<img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CENA_18_por_Cfbdias.png" class="md-card-image" alt="Washed Out">
	  	</md-whiteframe>
	  	<md-whiteframe class="img-responsive md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
	    	<img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CENA_19_por_Cfbdias.png" class="md-card-image" alt="Washed Out">
	  	</md-whiteframe>
	  	<md-whiteframe class="img-responsive md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
	    	<img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CENA_20_por_Cfbdias.png" class="md-card-image" alt="Washed Out">
	  	</md-whiteframe>
	  	<md-whiteframe class="img-responsive md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
	    	<img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CENA_21_por_Cfbdias.png" class="md-card-image" alt="Washed Out">
	  	</md-whiteframe>
	  	<md-whiteframe class="img-responsive md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
	    	<img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CENA_22_por_Cfbdias.png" class="md-card-image" alt="Washed Out">
	  	</md-whiteframe>
	</div>

<md-content>