<div class="header cabecalho">
  <md-content class="md-padding" ng-cloak>
      <div class="starter-template">
        <h1>CONCEITOS</h1>
        <p class="lead">
        </p>
      </div>
  </md-content>
</div>

<md-content class="md-padding" layout-xs="column" layout="row">
<div flex-md flex-gt-xs="50" layout="row" layout-xs="column">
  <md-card>
    <md-card-header>
      <md-card-header-text>
       <a ng-href="#/aprenda_estatistica"> <span class="md-title">Estatística</span></a>
      </md-card-header-text>
    </md-card-header>
    <img ng-src="/images/quadrinhos/estatistica/Pixton_Comic_ESTAT_STICA_CAPA_por_Cfbdias.png" class="img-responsive md-card-image" alt="Capa da história sobre estatística" >
    <md-card-content>
      <p>
        Você sabe o que é a Estatística? Aqui, nesta história, <br/>
        Daniel e Eduardo tentam descobrir de que se trata essa <br/>
        ciência e para que ela serve Acompanhe!
        <br/><br/><br/>
      </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-icon-button" aria-label="Aprenda Estatística" ng-href="#/aprenda_estatistica">
        <md-icon md-svg-icon="images/ic_more_horiz_black_48px.svg">a</md-icon>
      </md-button>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-header>
      <md-card-header-text>
        <a ng-href="#/aprenda_media"><span class="md-title">Média</span></a>
      </md-card-header-text>
    </md-card-header>
    <img ng-src="/images/quadrinhos/media/Pixton_Comic_M_DIA_CAPA_por_Cfbdias.png" class="img-responsive md-card-image" alt="Capa da história sobre média">
    <md-card-content>
      <p>
        Daniel é um menino muito esforçado, mas ainda não sabe <br/>
        qual é a sua média na disciplina de Matemática. O pior <br/>
        é que ele nem sabe o que é a MÉDIA, mas sua tia <br/>
        Juliane e sua mãe irão ajudá-lo. Acompanhe e descubra <br/>
        qual é a média de Daniel em Matemática!
      </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-icon-button" aria-label="Aprenda Média" ng-href="#/aprenda_media">
        <md-icon md-svg-icon="images/ic_more_horiz_black_48px.svg">a</md-icon>
      </md-button>
    </md-card-actions>
  </md-card>
  
</div>
</md-content>


<!--
  <div class="row featurette">
    <p><h1>Mistérios do mundo do futebol</h1></p>
	<div class="col-lg-4">
		<img src="/images/quadro1_ep1.jpg" alt="episódio 1" class="featurette-image img-responsive center-block">
	</div>
	<div class="col-lg-4">
		<img src="/images/quadro1_ep2.jpg" alt="episódio 2" class="featurette-image img-responsive center-block">
	</div>
	<div class="col-lg-4">
		<img src="/images/quadro1_ep3.jpg" alt="episódio 3" class="featurette-image img-responsive center-block">
	</div>

  </div>
-->
</div>