<div class="header cabecalho">
	<md-content class="md-padding" ng-cloak>
	    <div class="starter-template">
	      <h1>FÓRUM</h1>
	    
	      <p class="lead">
	         
	      </p>
	    </div>
	</md-content>
</div>

<div class="container">
	<div class="panel panel-default">
	  <div class="panel-body">
	    <div class="table-responsive">
		  <table class="table">

		  	<thead>
		  		<tr>
		          <th>Categorias</th>
		          <th></th>
		          <th>Estatísticas</th>
		          <th>Última Publicação</th>
		        </tr>
		  	</thead>
		  	<tbody>
		    <tr>
		    	<td style="width:15px !important">
		    		<img src="images/forum48X48.png" class="img-responsive" alt="Fórum">
		    	</td>
		    	<td>
		    		<a href="" >
						<p>Pesquisas</p>
					</a>
		    	</td>
		    	<td>
		    		10 tópicos
		    	</td>
		    	<td>
		    		10/10/2015 13:00
		    	</td>
		    </tr>
		    <tr>
		    	<td>
		    		<img src="images/forum48X48.png"  alt="Fórum">
		    	</td>
		    	<td>
		    		<a href="">
		    			Probabilidade e Estatística
					</a>
		    	</td>
		    	<td>
		    		13 tópicos
		    	</td>
		    	<td>
		    		10/11/2015 15:00
		    	</td>
		    </tr>
		    <tr>
		    	<td>
		    		<img src="images/forum48X48.png"  alt="Fórum">
		    	</td>
		    	<td>
		    		<a href="">
		    			Tabulação de dados
					</a>
		    	</td>
		    	<td>
		    		12 tópicos
		    	</td>
		    	<td>
		    		10/11/2015 17:00
		    	</td>
		    </tr>
		    <tr>
		    	<td>
		    		<img src="images/forum48X48.png"  alt="Fórum">
		    	</td>
		    	<td>
		    		<a href="">
		    			Análise de gráficos
					</a>
		    	</td>
		    	<td>
		    		6 tópicos
		    	</td>
		    	<td>
		    		10/11/2015 21:00
		    	</td>
		    </tr>
		    <tr>
		    	<td>
		    		<img src="images/forum48X48.png"  alt="Fórum">
		    	</td>
		    	<td>
		    		<a href="">
		    			Combinatória
					</a>
		    	</td>
		    	<td>
		    		2 tópicos
		    	</td>
		    	<td>
		    		10/11/2015 09:00
		    	</td>
		    </tr>
		    </tbody>
		  </table>
		</div>
	  </div>
	</div>
</div>