<div class="header cabecalho">
    <md-content class="md-padding" ng-cloak>
      <div class="starter-template">
        <!--
        <p class="bg-warning" style="height: 50px">
          Este site está em construção...<br/>
        </p>
      -->

        <h1 class="text-center md-display1">AMBIENTE VIRTUAL DE APRENDIZAGEM DE PROBABILIDADE E ESTATÍSTICA NOS ANOS INICIAIS</h1>
      
        <p class="text-center lead">
              Este é um Ambiente Virtual de Aprendizagem de Probabilidade e Estatística.<br/>
            Crie pesquisas, organize e represente graficamente os dados, analise e escreva sobre os resultados e compartilhe com o mundo!
        </p>

      </div>
      <br/>
      <br/>
      <br/>
    </md-content>
</div>

<md-content class="md-padding" ng-cloak>
  <div class="row featurette">
    <div class="col-md-7">
      <h1 class="featurette-heading">
        Conceitos.
        <span class="text-muted"> Aprenda agora.</span>
      </h1>
      
      <p class="lead">Você sabia que a Estatística é a ciência dedicada à coleta, análise e interpretação de dados? Por meio dela podemos recolher, organizar, resumir, apresentar e interpretar um conjunto de dados. Tudo isso por meio de gráficos, tabelas e medidas que nos permitem resumir os dados e as informações. Ela nos ajuda a entender o mundo através dos números e das representações gráficas. Com ela podemos fazer previsões e tomar decisões importantes! Quer saber mais?
        <br/>
        <a ng-href="#/conceito" ng-click="menuAtivo = 2">Ver mais..</a>
      </p>
    </div>
    <div class="col-md-5">
      <img src="/images/inicial/Pixton_Comic_PG_INICIAL_CONCEITOS_por_Cfbdias.png" alt="Conceitos" class="featurette-image img-responsive center-block"
            style="width: 400px; height: 400px;">
    </div>
  </div>

<hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">
        Pesquisas.
        <span class="text-muted"> Faça você mesmo.</span>
      </h2>
      <p class="lead">Coloque em prática suas habilidades de pesquisador e descubra muitas informações interessantes sobre sua turma e de toda a escola. Entre e participe das pesquisas que estão sendo feitas por seus colegas e também proponha questões para levantar as informações que deseja saber.
        <br/>
        <a ng-href="#/pesquisa" ng-click="menuAtivo = 3">Ver mais..</a>
      </p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img src="/images/inicial/Pixton_Comic_PG_INICIAL_PESQUISA_por_Cfbdias.png" alt="Pesquisa" class="featurette-image img-responsive center-block"
      style="width: 400px; height: 400px;">
    </div>
  </div>


<hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Fórum.
        <span class="text-muted"> Aprenda compartilhando.</span>
      </h2>
      <p class="lead">
        Professor, compartilhe suas experiências de trabalho com a Educação Estatística em sua sala de aula. Compartilhar informações e saber as propostas de nossos colegas de profissão é uma maneira de renovarmos nossas práticas. Tire suas dúvidas e proponha questões para discussão com seus colegas.
        <br/>
        <a ng-href="#/forum" ng-click="menuAtivo = 8">Ver mais..</a>
      </p>
    </div>
    <div class="col-md-5">
      <img src="/images/inicial/Pixton_Comic_PG_INICIAL_FORUM_por_Cfbdias.png" class="featurette-image img-responsive center-block"
        style="width: 400px; height: 400px;" alt="Fórum">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">
        Blog.
        <span class="text-muted"> Publique.</span>
      </h2>
      <p class="lead">
        Muitas pesquisas estão sendo realizadas pelas turmas de sua escola e de outras também neste momento. E, aqui, você pode ver os resultados de algumas delas. Como estão as preferências, as atitudes e o perfil dos alunos das outras escolas? Entre e descubra! Também compartilhe as investigações que tem realizado com sua turma. Muitas pessoas poderão ver como está a sua escola!
        <br/> 
        <a ng-href="#/blog" ng-click="menuAtivo = 4">Ver mais..</a>
      </p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img src="/images/inicial/Pixton_Comic_PG_INICIAL_BLOG_por_Cfbdias.png" class="featurette-image img-responsive center-block" style="width: 400px; height: 400px;" alt="Blog">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Leitura.
        <span class="text-muted"> Aprenda mais.</span>
      </h2>
      <p class="lead">
        Formar-se continuamente é um grande desafio ao professor e, nesse processo leitura e pesquisa podem ser aliadas importantes. Neste espaço há algumas sugestões de leitura e vídeos sobre o trabalho com as questões que envolvem a Estatística, a Probabilidade e a Combinatória. Com essas leituras podemos ampliar nossos conhecimentos e descobrir novas formas de trabalhar com o bloco Tratamento da Informação com nossos alunos.
        <br/>
        <a ng-href="#/formacao_continuada" ng-click="menuAtivo = 7">Ver mais..</a>
      </p>
    </div>
    <div class="col-md-5">
      <img src="/images/inicial/Pixton_Comic_PG_INICIAL_FORMACAO_por_Cfbdias.png" class="featurette-image img-responsive center-block"
         alt="Formação Continuada." style="width: 400px; height: 400px;">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">
        Plano de Aula.
        <span class="text-muted"> Faça e compartilhe.</span>
      </h2>
      <p class="lead">
        Professor, compartilhe com seus colegas de profissão suas propostas para o trabalho com a Educação Estatística. Elabore e compartilhe planos de aula para serem realizados neste Ambiente Virtual. Também tenha acesso a outras propostas que poderá colocar em prática em sua sala de aula.
        <br/> 
        <a ng-href="#/plano_aula" ng-click="menuAtivo = 6">Ver mais..</a>
      </p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img src="/images/inicial/Pixton_Comic_PG_INICIAL_PLANO_DE_AULA_por_Cfbdias.png" class="featurette-image img-responsive center-block" style="width: 400px; height: 400px;" alt="Plano de Aula">
    </div>
  </div>

</div>
</md-content>
</div>