<div class="header cabecalho">
	<md-content class="md-padding" ng-cloak>
	    <div class="starter-template">
	      <h1>PLANO DE AULA</h1>
	    
	      <p class="lead">
	         
	      </p>
	    </div>
	</md-content>
</div>

<md-content class="md-padding" ng-cloak>

	<h2>Identificação</h2>

	<p>PROFESSOR (A): Cristiane de Fátima Budek Dias, Guataçara dos Santos Junior</p>
	<p>ANO: 5º</p>
	<p>TEMPO ESTIMADO: 2 a 3 aulas</p>
	
	<h2>Tema</h2>

	<p>Investigação Estatística: esportes.</p>

	<h2>Objetivos</h2>
	<h3>Geral</h3>
	<p>Compreender as etapas de uma investigação Estatística, desde a coleta até a comunicação dos dados.</p>
	<h3>Específicos</h3>
	<p>
		Identificar um problema potencial para uma investigação;<br/>
		Construir coletivamente instrumentos para pesquisa;<br/>
		Coletar dados com os colegas;<br/>
		Organizar os dados;<br/>
		Escolher formas de representação dos dados;<br/>
		Demonstrar habilidades de interpretação dos dados coletados;<br/>
		Fazer algumas inferências e relações entre os dados coletados;<br/>
		Debater com os colegas sobre as conclusões conseguidas com a investigação;<br/>
		Comunicar o resultado da pesquisa.<br/>
	</p>
	
	<h2>Conteúdo</h2>
	<p>Coleta, organização e representação de dados; leitura e interpretação de gráficos e tabelas.<br/>
		Produção textual.</p>

	<h2>Metodologia</h2>
	<p><b>Sensibilização</b>: leia com as crianças a história em quadrinhos “Mistérios do Mundo do Futebol: Estatística” e discuta o que se apresenta na história: qual é o esporte de Pelé e Maradona (nesse momento podem surgir alguns questionamentos sobre quem são eles e é importante que se explique, podem ser relacionados aos jogadores desta época: Neymar, Lionel Messi, entre outros). É importante, ainda, que se discuta o que é a Estatística e sobre como ela é importante para a tomada de decisão em alguns assuntos da sociedade. Na história apresenta-se apenas uma questão relacionada ao mundo dos esportes, mas muitas outras questões são atendidas pela Estatística.</p>
	<p><b>Desenvolvimento</b>: proponha a investigação na turma para verificar qual é o esporte preferido de cada criança, por exemplo. (Podem escolher outro tema também, de acordo com as discussões realizadas no primeiro momento da aula).<br/>
		- Levantem hipóteses sobre os resultados: o que os alunos podem prever? Qual esporte acham que será o mais votado? As meninas gostarão dos mesmos esportes que os meninos? As crianças mais velhas gostarão dos mesmos esportes que as mais novas (no caso de a escola toda participar da pesquisa)? Lembre-se de que este momento é crucial para a elaboração do instrumento de pesquisa, pois definirá o que se quer saber e quais relações serão realizadas (gênero/esporte; idade/esporte etc).<br/>
- Converse com a turma sobre a possibilidade de ampliar a pesquisa e fazer a descoberta na escola toda, ou pelo menos em mais uma turma. Se a escola contar com duas turmas do mesmo ano é melhor ainda.<br/>
- Elaborem o instrumento para a coleta de dados, partindo das hipóteses levantadas no AVA. Sugerimos como perguntas: Gênero; Turma; Idade; Qual seu esporte favorito?
Essas perguntas já são suficientes para o trabalho.
Publicar a pesquisa e solicitar que cada aluno participe respondendo na aba “Responda a uma pesquisa”. Caso esteja trabalhando com duas turmas, solicitar auxílio da professora da outra turma para que leve os alunos até o laboratório de informática para que também respondam. O mesmo vale para toda a escola.<br/>
- Após essa etapa de respostas, seguir para a “avaliação da pesquisa”, explorando as representações gráficas e as relações possíveis entre idade e esporte preferido, gênero e esporte preferido etc. Descrever as conclusões na caixa de texto ao lado da representação gráfica, retomando as hipóteses levantadas no início da pesquisa e confirmando-as e/ou refutando-as.
	</p>
	<p>
<b>Finalização</b>: promova algumas discussões sobre os esportes: como as questões de benefícios à saúde; os esportes que arrecadam mais recursos financeiros; esportes com maior popularidade etc (textos dos sites <a href="https://pt.wikipedia.org/wiki/Esporte_no_Brasil">https://pt.wikipedia.org/wiki/Esporte_no_Brasil</a>;
<a href="http://mundoestranho.abril.com.br/materia/qual-e-o-esporte-mais-praticado-no-brasil">http://mundoestranho.abril.com.br/materia/qual-e-o-esporte-mais-praticado-no-brasil</a>; entre outros podem auxiliar nessa discussão). As conclusões com a pesquisa e com as discussões podem ser descritas em um texto, que pode ser escrito coletivamente ou em equipes. Publique o texto no Blog do AVA para que seja comunicado o resultado da investigação.
	</p>
	<p>
		Atenção: é fundamental que se proponha uma análise crítica sobre as informações conseguidas junto à turma, permitindo que os alunos realizem algumas inferências.
</p>
	<h2>Avaliação</h2>
	<p>A avaliação será realizada por meio da observação no trabalho coletivo e individual. Será observado se os alunos conseguem realizar as etapas da investigação, se compreendem cada momento e sua relevância (levantamento de hipóteses; construção do instrumento de pesquisa; coleta e organização dos dados; representação e leitura dos dados; escrita argumentativa com base nos dados; inferências sobre o assunto estudado de acordo com a investigação).   </p>

	<h2>Recursos Didáticos</h2>
	<p>Computadores, quadro, giz, entre outros.</p>

	<h2>Referências</h2>
	<p>FUGITA, Luiz. Qual é o esporte mais praticado no Brasil? Mundo Estranho Abril. Jun. 2016. Ed 91. Disponível em: <a href="http://mundoestranho.abril.com.br/materia/qual-e-o-esporte-mais-praticado-no-brasil">http://mundoestranho.abril.com.br/materia/qual-e-o-esporte-mais-praticado-no-brasil</a> Acesso em 30 mai. 2016.</p>
	<p>WIKIPEDIA. Esporte no Brasil. Disponível em: <a href="https://pt.wikipedia.org/wiki/Esporte_no_Brasil">https://pt.wikipedia.org/wiki/Esporte_no_Brasil</a> Acesso em 30 mai. 2016.</p>

	<hr class="featurette-divider">

</md-content>