<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>APIAva</display-name>

<!-- 	<login-config> -->
<!-- 		<auth-method>BASIC</auth-method> -->
<!-- 		<realm-name>APIAVA-DOMAIN</realm-name> -->
<!-- 	</login-config> -->

<!-- 	<security-constraint> -->
<!-- 		<web-resource-collection> -->
<!-- 			<web-resource-name>Acesso restrito</web-resource-name> -->
<!-- 			<url-pattern>/*</url-pattern> -->
<!-- 		</web-resource-collection> -->
<!-- 		<auth-constraint> -->
<!-- 			<role-name>PROFESSOR</role-name> -->
<!-- 			<role-name>ALUNO</role-name> -->
<!-- 		</auth-constraint> -->
<!-- 	</security-constraint> -->

<!-- 	<security-role> -->
<!-- 		<role-name>PROFESSOR</role-name> -->
<!-- 	</security-role> -->

<!-- 	<security-role> -->
<!-- 		<role-name>ALUNO</role-name> -->
<!-- 	</security-role> -->

<!-- 
<security-constraint>
	<web-resource-collection>
		<web-resource-name>All Access</web-resource-name>
		<url-pattern>/unchecked/*</url-pattern>
		<http-method>DELETE</http-method>
		<http-method>PUT</http-method>
		<http-method>HEAD</http-method>
		<http-method>OPTIONS</http-method>
		<http-method>TRACE</http-method>
		<http-method>GET</http-method>
		<http-method>POST</http-method>
	</web-resource-collection>
	<user-data-constraint>
		<transport-guarantee>NONE</transport-guarantee>
	</user-data-constraint>
</security-constraint>

	<security-constraint>
		<display-name>Restricted GET To Employees</display-name>
		<web-resource-collection>
			<web-resource-name>Restricted Access - Get Only</web-resource-name>
			<url-pattern>/restricted/employee/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Employee</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
-->


</web-app>